/* Base reset */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,body{
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  background: #dddddd;
}

::-webkit-scrollbar-thumb{
  background: #069;
}

title {
  display: none;
}

header{
}
/* Media query */
@MEDIA (max-width: 28.75em){
html{
 font-size: 55%;
}
}


.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #069 ;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-link {
font-size: 3.6rem;
margin-right: 3rem;
font-family: 'Raleway', sans-serif;
  font-weight: 700;

}

.welcome-section{
height: 100vh;
width: 100%;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background-color: #000;
  background-image: linear-gradient(135deg, #3a3d40 0%, #181719 100%);
}

h1, h2{
font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
}

h1{
font-size: 6rem;
}

h2{
  font-size: 4rem;
}

p{
font-size: 3rem;
  font-style: italic;
  font-weight: 100;
}

a {
text-decoration: none;
color: white;
}

ul {
list-style: none;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

/* START PROJECT SECTION */

.project-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  font-size: 3rem;
}

.project-sections {
width: 100%;
min-height: 100vh;
  background-color: #922;
  padding: 4rem;
}

.projects-tile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.projects-title{
  text-align: center;
}
/* END PROJECT SECTION */

/* START CONTACT SECTION */
.contact-section {
height: 95vh;
width: 100%;
background-color: #000;
  background-image: linear-gradient(135deg, #3a3d40 0%, #181719 100%);
  padding-top: 4rem;
}

.div-contact-wrapper{
    height: auto;
}

.contact-section > h2 {
font-size: 4rem;
}
.contact-button{
    font-size: 4rem;
    padding-bottom: 1rem;
}
.contact-list-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .contact-list-wrapper {
    display: grid;
    align-content: center;
    width: 100%;
    min-width: 44vh;
  }

}

.contact-icon-wrapper{
}



.contact-icon{
width: 300px;
padding: 1.5rem;
}

.contact-icon :hover{
}


.contact-email-wrapper{
  height: 40vh;
  max-width: 100%;
  padding: 3vh;
}

.contact-email-wrapper-button{
  height: auto;
  width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  resize:horizontal;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

/* END CONTACT SECTION*/
